<div class="tooltip" id="ml-signup" title="Sign up to get a dope sample daily!">
  <a href="#ex1" rel="modal:open">Sample of the Day</a>
  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
</div>
<div id="ex1" style="display:none;">
  <p>Enter your e-mail to sign up for daily curated samples <br /> no spam or pork on my fork. <a href="#" rel="modal:close">Close</a></p>
</div>