<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>E-digger</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <style>

    body {
      font-size: 20px;
    }
    .jumbotron {
      margin-top: 10px;
    }

    .box {
      border: 1px solid red;
    }
    .section {
      padding: 5rem 0 7rem;
      text-align: center;
    }
    .form-section {
      text-align: center;
    }

    #youtube-link-input {
      width: 100%;
    }

    #submit-button {
      margin-top: 50px;
    }

    .form-labels {
      float: left;
    }

    .footer {
      position:fixed;
      bottom: 0;
      border-top: 1px solid black;
      width: 100%;
    }

    .twitter-link {
      height: 50px;
      font-size: 12px;
      background-color: #1e99e6;
      color: white;
      border-radius: 3px;
      font-weight:400;
      line-height: 50px;
      padding: 5px 6px;
      cursor: pointer;
    }

    .twitter-link:hover {
      color:white;
    }

    .twitt {
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="twelve columns section">

        <div class="">
          <div class="text-center">
            <h1>E-Diggin</h1>
            <p class="lead">Easily e-dig from youtube videos</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
        <form id="e-dig-form">
          <div class="row">
            <div class="twelve colums form-section">
              <label class="form-labels" for="youtube-link-input">Youtube Link:</label>
              <input type="text" class="form-control" id="youtube-link-input" placeholder="e.g https://www.youtube.com/watch?v=cv1B0ejhFVE">
            </div>
          </div>

          <div class="row">
            <div class="six columns form-section">
              <label class="form-labels" for="video-begin-input">Start</label>
              <input class="u-full-width" id="video-begin-input" type="text"  placeholder="Sample start time in MM:SS e.g 1:30" maxlength="4">
            </div>

            <div class="six columns form-section">
              <label class="form-labels" for="exampleInputPassword1">End</label>
              <input class="u-full-width" id="video-end-input" type="text" placeholder="Sample end time in MM:SS e.g 3:56, blank defaults to end" maxlength="4">
            </div>
          </div>


            <div id="submit-button" class="form-section">
              <button type="submit" class="tooltip" title="download your sample!">Submit</button>
            </div>
        </form>
      </div>

      <div class="row">
        <div class="text-center">
          <button id="download-button" class="button-primary form-section">Download</button>
        </div>
      </div>
  </div>
  <div class="footer form-section">
   <a href="https://twitter.com/jahoshuma" target="_blank" class="twitter-link">by @jahoshuma</a><i class="fa fa-twitter twitt" aria-hidden="true"></i>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
  <script src="/index.js"></script>
</body>
</html>