html body {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}
#sample-category {
  background-color: #333333;
  width: 73px;
  border-radius: 73px;
  color: white;
  float: left;
  margin: -15px;
  margin-top: inherit;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
}
.search-tagline {
  margin-bottom: 0px;
}
#likes-title {
  display: block;
  line-height: 0.2;
  margin-top:10px;
}
#logo-link {
  color: black;
}
#logo-link:hover {
  color:black;
}
.nav-links {
  display: block;
  text-align: center;
}
#search-icon {
  display: block;
  color: #333333;
  text-align: center;
  cursor: pointer;
}
#search-title {
  margin-top: 50px;
  text-align: center;
}
.psuedo-height {
  height: 303px;
}
#search-div {
  text-align: center;
}
#ml-signup {
  width: 125px;
  font-size: 12px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  font-weight:400;
  padding: 5px 6px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.record-logo {
  height: 60px;
  width: 60px;
}
.liked {
  color: grey;
}
.sample-actions {
  text-align: center;
}
.like-sample-btn {
  display: inline;
  cursor: pointer;
  margin-right: 5px;
}
.download-sample-btn {
  cursor: pointer;
  display: inline;
}
.sample-date {
  font-size: 12px;
  color: black;
}
.sample-number {
  color: black;
}
.arrows {
  color: #333333;
  margin-bottom: 15px;
}
.arrows:hover {
  color: #605f5f;
  cursor: pointer;
}
.page-link {
  color: black;
  text-decoration: none;
}
.active-page {
  color: red;
  font-style: bold;
}
#page-numbers {
  text-align: center;
}
#page-number-list {
  list-style-type: none;
      margin: 0;
    padding: 0;
    overflow: hidden;
}
.page-number {
  text-align: center;
  font-size: 1.4em;
  padding: 5px;
  margin: 5px;
}
.disabled {
  color: grey;
  cursor: not-allowed;
  margin-bottom: 15px;
}
.total-samples {
  font-weight: bold;
  margin-top: 30px;
}

.section {
  text-align: center;
}
.header {
  margin-bottom: 50px;
}
.header h1 {
  position: relative;
  float: left;
  margin-bottom: 0px;
}
#title {
  font-size: 3em;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}
#total {
  display: block;
  font-size: 24px;
}
.lead {
  font-size: 12px;
  display: block;
  text-align: center;
}
.button {
  border-radius: 100px;
}
.row {
  height: 100%;
}
#main-header {
  margin-top: 20px;
}
.jumbotron {
  margin-top: 10px;
}
.box {
  border: 1px solid red;
}
.section {
  padding: 5rem 0 5rem;
  text-align: center;
}
.form-section {
  text-align: center;
}
#youtube-link-input {
  width: 100%;
}
.form-labels {
  float: left;
}
.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  background-color:#333333;
}
.twitter-link {
  height: 50px;
  font-size: 12px;
  background-color: #1e99e6;
  color: white;
  border-radius: 3px;
  font-weight:400;
  line-height: 50px;
  padding: 5px 6px;
  margin-left: 5px;
  cursor: pointer;
}
.twitter-link:hover {
  color:white;
}
.twitt {
  display: block;
}
#download-button {
    display: none; 
  margin-bottom: 15px;
  background-color: #333333;
  border-color: #333333;
  color: white;
}
#next-button {
  display: none;
}
input:disabled {
  background-color: #F5FCFF;
}
.headline {
  margin-bottom: 5px;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
}
.site-content {
  flex: 1;
  width: 100%;
}
.final-buttons {
  margin: auto;
}
#recent-samples-title {
  margin-bottom: 10px;
  font-size: 6px;
  color: black;
}    
hr {
  margin: 0;
}
.start-end-form-inputs {
  margin-top: 0px;
}
.sample {
  height: 125px;
  width: 125px;
  text-align: center;
  margin-right: 25px;
  margin-bottom: 15px;
}
.recent-sample-img {
  margin: 0 auto;
}
#recent-sample-title {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
#sample-list {
  margin-bottom: 0px;
  flex-wrap: wrap;
}
.sample-card {
  display: block;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 200px;
  height: 245px;
  padding: 20px;
  padding-bottom: 50px;
  margin: 5px;
  margin-bottom:15px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.flex-container {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  display: flex;
}
#nav-link-list {
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 33px;

}
.nav-links {
  margin: 5px;
  color: black;
}
.center {
  align-items: center;
  flex-direction: row;
}

@media (min-width: 300px) {
  #search-input {
    margin: 5px;
  }
  .fa-cloud-download {
    display: none;
  }
  #title {
    margin-bottom: 30px;
  }
  .flex-container {
    flex-direction: column;
  }
  .header {
    margin-bottom: 10px;
    float: none;
  }   
  #title {
    font-size: 30px;
  }
  .lead {
    line-height: 0px;
    font-size: 14px;
  }
  #recently-sampled-title {
    margin-top: 20px;
    text-align: center;
  }
  #recently-sampled-title h3 {
    font-weight: bold;
    margin-bottom: 0px;
  }
  #e-dig-form {
    display: none;
  }
  #submit {
    display: none;
  }
  .sample-title {
    font-size: 13px;
    text-align: center;
    margin-left: 10px;
    line-height: 10px;
    word-wrap: break-word;
    display: inline-flex;
  }
  .sample-link {
    color: black;
  }
  .sample-card {
    padding-bottom: 50px;
    height: 265px;
  }
  .sample-number{ 
    font-size: 25px;
  }
  .sample-stats {
    text-align: center;
  }
  .sample-image {
    margin-top: 10px;
    text-align: center;
  }
  .sample-player {
    text-align: center;
    display: none;
    margin-top: 5px;
  }
  .sm2-360ui {
    float: none;
  }
  #chrome-ribbon {
    display: none;
  }
  .tagline {
    font-style: italic;
  }
  .total-samples {
    display: none;
  }
  .record-logo {
    height: 50px;
    width: 50px;
  }
}


@media (min-width: 768px) {
  .total-samples {
    display: inline;
  }
  .fa-cloud-download {
    display: inline;
  }
  #title {
    font-size: 2.2em;
  }
  #next {
    width: 50px;
    margin-right: 80px;
  }
  #prev {
    width: 50px;
    margin-left: 80px;
  }
  input {
    font-size: 1em;
  }
  select {
    font-size: 1em;
  }
  #e-dig-form {
    display: block;
  }
  #submit {
    display: inline;
    background-color: #333333;
    color: white;
  }
  .center {
    align-items: center;
    flex-direction: row;
  } 
  .sample-title {
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .sample-card {
    padding-bottom: 50px;
  }
  .sample-number {
    font-size: 16px;
    color: black;
  }
  #recently-sampled-title {
    margin-top: 5px;
  }
  #yt_form {
    margin-top: 15px;
  }
  #chrome-ribbon {
    display: initial;
  }
}


/* special */
.rotate {

/* Safari */
-webkit-transform: rotate(-25deg);

/* Firefox */
-moz-transform: rotate(-25deg);

/* IE */
-ms-transform: rotate(-25deg);

/* Opera */
-o-transform: rotate(-25deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
